:root {
  --border-color: 1px solid black;
  --background-color: rgb(228, 141, 141);
}
body {
  max-width: 1200px;
}
.container {
  width: 100%;
  overflow: hidden;
  background-color: var(--background-color);
  border: var(--border-color);
  display: flex;
  height: 100%;
}
.container__block {
  width: 220px;
  height: 100%;
}
.container__block-specific {
  width: 100%;
}
.container__block-content1 {
  border: var(--border-color);
  height: 100%;
}
.content2 {
  height: 100%;
  border: var(--border-color);
}
p {
  margin: 15px;
}
@media screen and (min-width: 900px) {
}
@media screen and (min-width: 320px) {
}
