:root {
  --border-color: 1px solid black;
  --background-color: rgb(228, 141, 141);
}

body {
  min-width: 320px;
}
.container {
  width: 100%;
  overflow: hidden;
  background-color: var(--background-color);
  border: var(--border-color);
}
.container__block {
  width: 100%;
  display: flex;
  flex-grow: 1;
}
.double {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
p {
  margin: 0;
}
.container__block-content {
  border: var(--border-color);
  width: 200px;

  padding: 10px;
}
.container__block-content-grow {
  flex-grow: 1;
}
.container__block-content-specific {
  width: 100%;
  padding: 10px;
}
@media screen and (min-width: 991px) {
  .double {
    display: flex;
    flex-direction: row;
  }
}
