:root {
  --border-color: 1px solid black;
  --background-color: rgb(228, 141, 141);
}
body {
  max-width: 1200px;
  min-width: 320px;
}
.container {
  width: 100%;
  overflow: hidden;
  background-color: var(--background-color);
  border: var(--border-color);
  display: flex;
  height: 100%;
}
.container__block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 220px;
}
.container__block-specific {
  flex-grow: 1;
  width: 100%;
  background-color: aqua;
  /* flex-basis: 100%; */
}
.container__block-colored {
  background-color: rgb(245, 242, 68);
}
.container__block-content1 {
  border: var(--border-color);
  flex-grow: 1;
  padding: 15px;
}
.container__block-content-elems {
  margin: 0;
}
.content2 {
  border: var(--border-color);
  padding: 15px;
  flex-basis: max-content;
}

@media screen and (min-width: 952px) {
}
@media screen and (min-width: 320px) {
  .content3 {
    /* display: inline-block; */
  }
}
